<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{ dialogTitle }}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="gradesForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Name</mat-label>
                        <mat-select formControlName="courseName" required>
                        <mat-option *ngFor="let course of courses" [value]="course.value">
                            {{ course.label }}
                        </mat-option>     
                                       </mat-select>
                        <mat-error *ngIf="gradesForm.get('courseName')?.hasError('required')">
                            Select Any Course Name
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Section ID</mat-label>
                        <mat-select formControlName="sectionID" required>
                        <mat-option *ngFor="let section of sections" [value]="section.value">
                            {{ section.label }}
                        </mat-option>                        
                    </mat-select>
                        <mat-error *ngIf="gradesForm.get('sectionID')?.hasError('required')">
                            Select Any Section ID
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Module</mat-label>
                        <mat-select formControlName="Module" required>
                            <mat-option [value]="'Module 1'">Module 1</mat-option>
                            <mat-option [value]="'Module 2'">Module 2</mat-option>
                            <mat-option [value]="'Module 3'">Module 3</mat-option>
                        </mat-select>
                        <mat-error *ngIf="gradesForm.get('Module')?.hasError('required')">
                            Select Any Module
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Student List</mat-label>
                        <mat-select formControlName="sName" required>
                        <mat-option *ngFor="let student of extractedStudentList" [value]="student.value">
                            {{ student.label }}
                        </mat-option>
                        </mat-select>
                        <mat-error *ngIf="gradesForm.get('sName')?.hasError('required')">
                            Select Any Student
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Grade obtained</mat-label>
                        <input matInput formControlName="sYear" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>grade</mat-icon>
                        <mat-error *ngIf="gradesForm.get('sYear')?.hasError('required')">
                            Grade obtained is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Total Grade</mat-label>
                        <input matInput formControlName="sCapacity" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3"
                            matSuffix>assignment_turned_in</mat-icon>
                        <mat-error *ngIf="gradesForm.get('sCapacity')?.hasError('required')">
                            Total Grade is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!gradesForm.valid" [mat-dialog-close]="1"
                            (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>