<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>

        <div class="card">
            <div class="header">
                <h2>{{ 'securitySettings' | translate }}</h2>
            </div>
            <div class="body">
                <div class="example-container">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{ 'email' | translate }}</mat-label>
                        <input matInput readonly [(ngModel)]="email">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{ 'currentPassword' | translate }}</mat-label>
                        <input matInput type="password" [(ngModel)]="currentPassword">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{ 'newPassword' | translate }}</mat-label>
                        <input matInput type="password" [(ngModel)]="newPassword">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" (click)="saveSecuritySettings()">{{ 'save' | translate }}</button>
            </div>
        </div>

        <div class="card">
            <div class="header">
                <h2>{{ 'accountSettings' | translate }}</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>{{ 'firstName' | translate }}</mat-label>
                                <input matInput readonly [(ngModel)]="firstName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>{{ 'lastName' | translate }}</mat-label>
                                <input matInput readonly [(ngModel)]="lastName">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
