/* Add your global styles here */

.auth-container {
    position: relative;
}

.burst-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.burst-effect {
    display: inline-block;
    position: relative;
    animation: burst 3s linear forwards;
    font-size: 48px;
    /* Adjust the font size as per your preference */
}

.word {
    display: inline-block;
    opacity: 0;
    animation: sprinkle 1s ease-in-out forwards;
    font-size: 36px;
    /* Adjust the font size as per your preference */
}

@keyframes burst {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sprinkle {
    0% {
        opacity: 0;
        transform: translate3d(0, -200px, 0) rotate(0deg);
    }
    30% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(720deg);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(720deg);
    }
}


/* Adjust the following styles as per your color preferences */

.word:nth-child(1) {
    color: black;
}

.word:nth-child(2) {
    color: grey;
}

.word:nth-child(3) {
    color: blue($color: #164987);
}

.welcome-msg {
    text-align: center;
}

.auth-signup-text strong {
    font-weight: bold;
    text-align: center;
}

.auth-form-section {
    position: relative;
}

.right-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Update the height as desired */
    background-image: url(../../../assets/images/pages/bg-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.form-section {
    position: relative;
    top: 50%;
    /* Move down to center vertically */
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    /* Make the background transparent */
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
}

.welcome-msg {
    margin-bottom: 20px;
}

.example-full-width {
    width: 100%;
    margin-bottom: 1%;
}

.auth-form-btn {
    background-color: #164987;
    border-radius: 20px;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.auth-form-btn:hover {
    background-color: #0f2d46;
}

.container-auth-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.txt1 {
    color: #164987;
    font-size: 14px;
}

.txt1:hover {
    text-decoration: underline;
}

.auth-form-section {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo-image {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    /* Adjust the width as per your requirement */
    opacity: 0.7;
    /* Adjust the opacity as per your preference */
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin: 90px;
    margin-bottom: 25px;
    text-align: center;
    /* Align the text to the left */
}

.example-full-width {
    width: 100%;
    margin-bottom: 15px;
}

.container-auth-form-btn {
    margin-top: 15px;
}
