<div class="credentials-dialog">
  <div class="credentials-header">
    <h2>User Credentials</h2>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="credentials-body">
    <div class="credentials-field">
      <label>Email</label>
      <p>{{ email }}</p>
    </div>

    <div class="credentials-field">
      <label>Password</label>
      <div class="password-container">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          [value]="password"
          readonly
        />
        <button
          mat-icon-button
          class="password-visibility"
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <button
          mat-icon-button
          class="password-copy"
          (click)="copyPassword()"
          matTooltip="Copy Password"
          aria-label="Copy Password"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
