<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img src="assets/images/banner/img2.png" alt="">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="proForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Course Code</mat-label>
            <input matInput formControlName="courseID" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
            <mat-error *ngIf="proForm.get('courseID')?.hasError('required')">
              Course code is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Course Name</mat-label>
            <input matInput formControlName="courseName" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
            <mat-error *ngIf="proForm.get('courseName')?.hasError('required')">
              Course Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Name of professor</mat-label>
            <input matInput formControlName="Phone" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
            <mat-error *ngIf="proForm.get('Phone')?.hasError('required')">
              Professor name is required
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>School Name</mat-label>
            <mat-select formControlName="schoolName" required>
            <mat-option *ngFor="let school of schools" [value]="school.value">
              {{ school.label }}
                </mat-option>
              </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
            <mat-error *ngIf="proForm.get('schoolName')?.hasError('required')">
              School Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Course Details</mat-label>
          <textarea matInput formControlName="courseDetails" rows="5" required></textarea>
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>short_text</mat-icon>
          <mat-error *ngIf="proForm.get('courseDetails')?.hasError('required')">
            Course Details is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!proForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
