.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form-section {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Set the desired transparency */
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}


/* Adjust the styles for the form elements as needed */
