<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img src="assets/images/banner/img3.png" alt="">
                <div class="modal-about">
                    {{ 'dialogTitle' | translate }}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="proForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>{{ 'First Name' | translate }}</mat-label>
                        <input matInput formControlName="FirstName" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                        <mat-error *ngIf="proForm.get('FirstName')?.hasError('required')">
                            {{ 'First Name is required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>{{ 'Last Name' | translate }}</mat-label>
                        <input matInput formControlName="LastName" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                        <mat-error *ngIf="proForm.get('LastName')?.hasError('required')">
                            {{ 'Last Name is required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>{{ 'Title' | translate }}</mat-label>
                        <mat-select formControlName="title" required>
                            <mat-option [value]="'Mr'">{{ 'Mr.' | translate }}</mat-option>
                            <mat-option [value]="'Ms'">{{ 'Ms.' | translate }}</mat-option>
                            <mat-option [value]="'Ms'">{{ 'Mrs.' | translate }}</mat-option>
                            <mat-option [value]="'other'">{{ 'Other' | translate }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="proForm.get('title')?.hasError('required')">{{ 'Title is required' | translate }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>{{ 'Joining date' | translate }}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="proForm.get('date')?.hasError('required')">{{ 'Please select date' | translate }}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>{{ 'Mobile' | translate }}</mat-label>
                        <input matInput formControlName="Phone" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                        <mat-error *ngIf="proForm.get('Phone')?.hasError('required')">
                            {{ 'Mobile is required' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>{{ 'Email' | translate }}</mat-label>
                        <input matInput formControlName="Email" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail</mat-icon>
                        <mat-error *ngIf="proForm.get('Email')?.hasError('required') || proForm.get('Email')?.touched">
                            {{ 'Please enter a valid email address' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>{{ 'Address' | translate }}</mat-label>
                        <input matInput formControlName="address" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>location_on</mat-icon>
                        <mat-error *ngIf="proForm.get('address')?.hasError('required')">
                            {{ 'Address is required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!proForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">{{ 'Save' | translate }}</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">{{ 'Cancel' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
