<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          Add Schools to my List
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="schoolsForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select School</mat-label>
            <mat-select formControlName="school" required>
              <mat-option *ngFor="let school of schools" [value]="school.value">
                {{ school.label }}
              </mat-option>
            </mat-select>
            <!-- error handling -->
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Joining date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="schoolsForm.get('date')?.hasError('required')">Please select date</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!schoolsForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Add</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
