<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>Time Table</h2>
          </div>
          <div class="body">
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th class="text text-center">Monday</th>
                  <th class="text text-center">Tuesday</th>
                  <th class="text text-center">Wednesday</th>
                  <th class="text text-center">Thursday</th>
                  <th class="text text-center">Friday</th>
                  <th class="text text-center">Saturday</th>
                  <th class="text text-center">Sunday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!-- Monday -->
                  <td class="text text-center" width="14%"></td>

                  <!-- Tuesday -->
                  <td class="text text-center" width="14%"></td>

                  <!-- Wednesday -->
                  <td class="text text-center" width="14%"></td>

                  <!-- Thursday -->
                  <td class="text text-center" width="14%">
                    <div class="timetable-block">
                      <b class="col-red">Subject: Basics of Engineering</b><br>
                      <div>10:00 AM - 10:45 AM</div>
                      <div>Room Number: 101</div>
                    </div>
                  </td>

                  <!-- Friday -->
                  <td class="text text-center" width="14%"></td>

                  <!-- Saturday -->
                  <td class="text text-center" width="14%"></td>

                  <!-- Sunday -->
                  <td class="text text-center" width="14%"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>