<div class="addContainer">
   <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="lecturesForm" (ngSubmit)="submit()">
      <!-- ... -->
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>School Name</mat-label>
           <mat-select formControlName="schoolName" required>
            <mat-option *ngFor="let school of schools" [value]="school.value">
            {{ school.label }}
                </mat-option>
            </mat-select>   
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
            <mat-error *ngIf="lecturesForm.get('schoolName')?.hasError('required')">
              Select Any School
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Course Name</mat-label>
            <mat-select formControlName="courseName" required>
            <mat-option *ngFor="let course of courses" [value]="course.value">
            {{ course.label }}
                </mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>book</mat-icon>
            <mat-error *ngIf="lecturesForm.get('courseName')?.hasError('required')">
              Course name required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- ... -->
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Section Name</mat-label>
            <mat-select formControlName="sectionID" required>
            <mat-option *ngFor="let section of sections" [value]="section.value">
            {{ section.label }}
                </mat-option>
            </mat-select>            
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>record_voice_over</mat-icon>
            <mat-error *ngIf="lecturesForm.get('sectionID')?.hasError('required')">
              Section name required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Lecture Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="lecturesForm.get('date')?.hasError('required')">
              Please select a date
            </mat-error>
          </mat-form-field>
        </div>
        <!-- ... -->
        <!-- ... -->
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width mb-3" appearance="outline">
          <mat-label>Time</mat-label>
          <input matInput formControlName="time">
          <mat-icon matSuffix>access_time</mat-icon>
          <mat-error *ngIf="lecturesForm.get('time')?.hasError('required')">
            Please enter a valid time
          </mat-error>
        </mat-form-field>
      </div>


      <!-- ... -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!lecturesForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
