<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [items]="breadscrum.items" [active_item]="breadscrum.active"></app-breadcrumb>
    </div>

    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header">
                <div class="title-name user-info">{{ profile.title }}</div>
                <div class="user-name user-info">{{ profile.name }}</div>
                <div class="name-center"></div>
              </div>

              <img src={{profile.userImg}} class="user-img" alt="">
              <div class="email-section">
                <span class="email">
                  <i class="material-icons">email</i>{{ profile.email }}
                </span>
              </div>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>{{ profile.phone }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="p-4">
            <h4>About Me</h4>
            <p class="text-default">
              {{profile.aboutMe}}
            </p>
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>School name:</b>
                <div class="profile-desc-item float-end">{{ profile.schoolName }}</div>
              </li>
              <li class="list-group-item">
                <b>Joining Date:</b>
                <div class="profile-desc-item float-end">{{ profile.joiningDate }}</div>
              </li>
              <li class="list-group-item">
                <b>Address:</b>
                <div class="profile-desc-item float-end">{{ profile.address }}</div>
              </li>
              <li class="list-group-item">
                <b>Download CV:</b>
                <div class="profile-desc-item float-end">
                  <a [href]="profile.cvPath" download>Download</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
