.profile-header {
    background-color: #164987; // Add this line to change the background color of the image
    // Other styling for the profile header
}

.card {
    .p-4 {
        h4 {
            text-align: center; // Add this line to center the heading
            // Other styling for the heading
        }
        p {
            // Styling for the text
            text-align: center; // Add this line to center the text
        }
        .list-group-item {
            // Styling for the list items
            b {
                // Styling for the label
            }
            .profile-desc-item {
                // Styling for the value
            }
        }
    }
}

.user-img {
    margin-bottom: 20px;
    /* Adjust the value as needed */
}

.user-info {
    display: inline-block;
    vertical-align: middle;
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-top {
    padding-bottom: 30%;
}

.user-name {
    padding-bottom: 30%;
}

.email-section {
    position: relative;
    text-align: center;
}

.email-icon {
    position: relative;
    margin-right: 5px;
    padding-bottom: 50%;
}
