<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img src="assets/images/banner/img2.png" alt="">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="stdForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" required>
            <i class="material-icons-two-tone color-icon p-3" matSuffix>face</i>
            <mat-error *ngIf="stdForm.get('firstname')?.hasError('required')">
             First Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" required>
            <i class="material-icons-two-tone color-icon p-3" matSuffix>face</i>
            <mat-error *ngIf="stdForm.get('lastname')?.hasError('required')">
             Last Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Roll No</mat-label>
            <input matInput formControlName="rollNo" required>
            <i class="material-icons-two-tone color-icon p-3" matSuffix>school</i>
            <mat-error *ngIf="stdForm.get('rollNo')?.hasError('required')">
              Field is required
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select School</mat-label>
            <mat-select formControlName="school" required>
              <mat-option *ngFor="let school of schools" [value]="school.value">
                {{ school.label }}
              </mat-option>
            </mat-select>
            <!-- error handling -->
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>School Email</mat-label>
            <input matInput formControlName="schoolemail" required>
            <i class="material-icons-two-tone color-icon p-3" matSuffix>email</i>
            <mat-error *ngIf="stdForm.get('Email')?.hasError('required') || stdForm.get('schoolemail')?.touched">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Title</mat-label>
            <mat-select formControlName="Title">
              <mat-option [value]="'Mr'">
                Mr
              </mat-option>
              <mat-option [value]="'Ms'">
                Ms
              </mat-option>
              <mat-option [value]="'other'">
                Other
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="stdForm.get('gender')?.hasError('required')">
              Title is required
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Registraion number</mat-label>
            <input matInput formControlName="registrationnumber">
            <i class="material-icons-two-tone color-icon p-3" matSuffix>assignment</i>
            <!-- <mat-error *ngIf="stdForm.get('mobile')?.hasError('required')">
              Registration number is required
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Group Major</mat-label>
            <input matInput formControlName="groupmajor" required>
            <i class="material-icons-two-tone color-icon p-3" matSuffix>people</i>
            <mat-error *ngIf="stdForm.get('groupmajor')?.hasError('groupmajor')">
              Group major is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>GSM (Optional)</mat-label>
            <input matInput formControlName="GSM" >
            <i class="material-icons-two-tone color-icon p-3" matSuffix>signal_cellular_alt</i>
            <!-- <mat-error *ngIf="stdForm.get('name')?.hasError('required')">
             Group major is required
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Status of Student</mat-label>
            <mat-select formControlName="statusofstudent" required>
              <mat-option [value]="'Initial'">
                Initial
              </mat-option>
              <mat-option [value]="'Alternating'">
                Alternating
              </mat-option>
              <mat-option [value]="'Professional'">
                Professional
              </mat-option>
              <mat-option [value]="'Other'">
                Other
              </mat-option>
              <!-- <mat-option [value]="'Limerick'">
                Limerick
              </mat-option> -->
            </mat-select>
            <mat-error *ngIf="stdForm.get('statusofstudent')?.hasError('required')">
              Select Any Status
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Special Requirements</mat-label>
            <input matInput formControlName="specialrequirements" >
            <i class="material-icons-two-tone color-icon p-3" matSuffix>info</i>
            <!-- <mat-error *ngIf="stdForm.get('name')?.hasError('required')">
             First Name is required
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Personal Email</mat-label>
            <input matInput formControlName="personalemail">
            <i class="material-icons-two-tone color-icon p-3" matSuffix>email</i>
            <!-- <mat-error *ngIf="stdForm.get('name')?.hasError('required')">
              First Name is required
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      

        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Admission date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="stdForm.get('date')?.hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      </div> -->
      <!-- <div class="row"> -->
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option [value]="'male'">
                Male
              </mat-option>
              <mat-option [value]="'female'">
                Female
              </mat-option>
              <mat-option [value]="'other'">
                Other
              </mat-option>
            </mat-select>
            <mat-error *ngIf="stdForm.get('gender')?.hasError('required')">
              Gender is required
            </mat-error>
          </mat-form-field>
        </div> -->
        
        <!-- <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
            <label>Upload </label>
            <app-file-upload formControlName="uploadFile"></app-file-upload>
          </div>
        </div> -->
      <!-- </div> -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!stdForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>





<!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" type="number">
            <i class="material-icons-two-tone color-icon p-3" matSuffix>phone</i>
            <mat-error *ngIf="stdForm.get('mobile')?.hasError('required')">
              Mobile is required
            </mat-error>
          </mat-form-field>
        </div> -->